.error-bar {
    background-color: #b70c1d;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    color: $primary-color;
    border-radius: 5px;

    span {
        margin-left: 10px;
    }
}