.options-container {
    background-color: $primary-color;    
    color: $text-color;
    border: 1px solid $text-color;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;

    .stars {
        display: flex;

        div {
            margin-left: 10px;
            letter-spacing: 5px;
        }
    }

    .btn-row {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        input {
            width: 100%;
        }
    }
}

.options-toggle {
    text-align: center;

    .show-options-btn {
        color: $text-color;
        border-color: $text-color;
        background-color: white;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        width: 40%;
    }
}