$primary-color: #eee;
$accent-color: #F15025;
$accent-offset-color: #f06b47;
$secondary-color : #2196F3;

//CED0CE

$text-color: #FFFFFF;
$text-accent: #aaa;

$primary-font-family: 'Open Sans', sans-serif;