.chat-container {
    display: flex;
    flex-direction: column;

    color: $text-color;
    background-color: $accent-color;

    height: 300px;

    .chat-window {
        flex: 1;
        padding: 10px;
    }

    .input-row {
        margin-left: 1px;
        margin-right: 0;
        margin-top: 1px;
        
        >div {
            padding-left: 0;
            padding-right: 0;

            input {
                margin-top: 1px;
                border-top: 0;
                border-right: 0;
                border-bottom: 0;
                border-radius: 0;
            }
            
            &:first-child {
                margin-top: 1px;
            }

            &:last-child {
                display: flex;
                flex: 1;
                padding: 1px;
            }
        }
    }
}