.votes-container {
    padding: 20px;

    background-color: $accent-color;
    color: $text-color;

    .votes-header {
        display: flex;

        form {
            margin-left: auto;
        }
    }

    .row {
        &:not(:first-child) {
            margin-top: 10px;
        }

        .vote-container {
            display: flex;
            border: 1px solid $text-color;
            padding: 20px;
            line-height: 35px;

            &:not(:first-child) {
                margin-left: 30px;
            }

            .votes {
                margin-left: auto;
                margin-right: 0;
                font-size: 1.6rem;

                &.user {
                    opacity: 0.5;
                    
                    i {
                        cursor: initial;
                    }
                }

                i {
                    cursor: pointer;
                    padding-left: 5px;
                    padding-right: 5px;                    
                }
            }
        }
    }    
}