.app-container {
	// Fuck it why not
	border-top: #2a2a2a 10px solid;
	position: absolute;
	top: 0;
	height: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;

	.row:not(.ignore-spacer) {
		margin-top: 50px;
	}
}

.business-panel {
	margin-top: 5rem;
	line-height: 2rem;
}

@media (max-width: 576px) {
	.business-panel {
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.user-panel {
		height: 100%;
		min-width: 23rem;
		border-left: 2px solid $text-color;
	}

	.options-panel {
		width: 1000px;
		left: calc(50% - 500px);
	}
}

@media (max-width: 1199px) {
	.options-panel {
		width: 100%;
	}
}

.options-panel {
	position: fixed;
	bottom: 0;
}
