{
    "extends": ["plugin:react/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react"],
    "rules": {
        "react/button-has-type": "warn",
        "react/prop-types": "off"
    }
}
